{% for category in site.data.menu %}
	{% for entry in category[1] %}
		{% if page.id == entry.page %}
			{% assign parent = category[0] %}
		{% endif %}
	{% endfor %}
{% endfor %}

<nav>
	<ul>
		{% for entry in site.data.menu.first %}
			{% if entry.page == page.id or entry.page == parent %}
				{% assign active = true %}
			{% endif %}
			{% capture filename %}{{ entry.page }}.md{% endcapture %}
			{% assign refpage = site.pages | where: "name", filename | first %}
			<li {% if active %}class="active"{% endif %}>
				{% if active %}
					<h1>
						{{ refpage.title }}
					</h1>
				{% else %}
					{% if site.data.menu[entry.page] %}
						{% assign refurl = site.data.menu[entry.page][0].page %}
					{% else %}
						{% assign refurl = entry.page %}
					{% endif %}
					<a href="{{ site.baseurl }}/{{ refurl }}">
						{{ refpage.title }}
					</a>
				</li>
			{% endif %}
			{% assign active = false %}
		{% endfor %}
	</ul>
</nav>

{% if parent != "first" %}
	<nav>
		<ul>
			{% for entry in site.data.menu[parent] %}
				{% if entry.page == page.id %}
					{% assign active = true %}
				{% endif %}
				{% capture filename %}{{ entry.page }}.md{% endcapture %}
				{% assign refpage = site.pages | where: "name", filename | first %}
				<li {% if active %}class="active"{% endif %}>
					{% if active %}
						<h1>
							{{ refpage.title }}
						</h1>
					{% else %}
						<a href="{{ site.baseurl }}/{{ entry.page }}">
							{{ refpage.title }}
						</a>
					{% endif %}
					{% assign active = false %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}