<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>{{ site.data.site.title }} | {{ page.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.site.title }}{% endif %}" />
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.data.site.keywords }}{% endif %}" />
	<meta name="author" content="www.crachecode.net">
	<meta property="og:type" content="website">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/front.css" />
  <meta property="og:image" content="{% if page.og-image %}{{ page.og-image }}{% else %}{% if site.data.site.og-image %}{{ site.data.site.og-image }}{% endif %}{% endif %}">
	<script src="{{ site.baseurl }}/js/front.js"></script>
</head>

<body id="{{ page.id }}">
	<div>
		<header>
			<div id="logo">
				<h1 class="title">Tutela</h1>
				<h2>Curatelles Privées</h2>
			</div>
			{% include nav.html %}
		</header>
		<main>
			{% if page.image %}
				{% capture image %}src{{ page.image }}{% endcapture %}
				<section>
					<a href="{{ site.baseurl }}{{ page.image }}"
						 class="picture"
						 data-pswp-width="{% imagesize image:width %}" 
						 data-pswp-height="{% imagesize image:height %}"
					><img src="{{ site.baseurl }}{{ page.image }}" /></a>
					{% include photoswipe.html %}
				</section>
			{% endif %}
			<section>
				{{ content }}
			</section>
		</main>
	</div>
</body>
</html>