---
---

@font-face {
  font-family: arial-narrow;
  src: url('../fonts/arial-narrow.woff') format('woff');
}
@font-face {
  font-family: arial-narrow;
  src: url('../fonts/arial-narrow-italic.woff') format('woff');
  font-style: italic;
}
@font-face {
  font-family: arial-narrow;
  src: url('../fonts/arial-narrow-bold.woff') format('woff');
	font-weight: bold;
}
@font-face {
  font-family: arial-narrow;
  src: url('../fonts/arial-narrow-bold-italic.woff') format('woff');
	font-weight: bold;
  font-style: italic;
}

//@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

$color-main:rgb(247,246,246);
$color-base:#333;
//$color-accent:rgb(0, 145, 147);
//$color-accent:rgb(166, 53, 61);
$color-accent:rgb(106, 65, 69);
$color-opposite-light:rgb(91, 127, 117);
$color-opposite-dark:rgb(77, 105, 97);
$color-transparent-background:rgba(246,246,246,0.75);
$color-light:#555;
$color-transparent-background-dark:rgba(25,25,25,0.05);
$color-transparent-background-active:rgba($color-accent,0.9);

$font-size-text:1em;
$font-size-h1:1.5em;
$font-size-h2:1.5em;
$font-size-h3:1.5em;
$font-size-h4:1.5em;

// $font-text:'Roboto', sans-serif;
// $font-titles:'Roboto', sans-serif;
$font-text:'arial-narrow', Arial, sans-serif;
$font-titles:'arial-narrow', Arial, sans-serif;


$color-background:#8f8f8f;
$color-text:$color-base;
$color-a:$color-accent;
$color-active:$color-main;
$color-active-background:$color-accent;
$color-menu:#777;
$color-menu-active:#000;
$color-menu-background:$color-transparent-background-dark;
$color-menu-background-active:$color-transparent-background-dark;
$color-page:$color-transparent-background;
$color-logo:$color-light;

::selection {
	color:$color-active;
	background:$color-transparent-background-active;
}
::-moz-selection {
	color:$color-active;
	background:$color-transparent-background-active;
}
img {
	display:block;
}
td {
	text-align:left;
	padding:0;
	vertical-align:top;
}
table {
	border-collapse:collapse;
}
html {
	height:100%;
	min-height:100%;
	margin:0;
	padding:0;
}
body {
	box-sizing: border-box;
	background-color:$color-background;
	/*background-image:url(../img/hands.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	@include background-size(cover);*/
	//background-size: cover;
	margin:0;
	padding:0;
	width:100%;
	//min-height:100%;
	//display:flex; // responsive
	//justify-content:center; // responsive
	text-align:center; // no responsive
	font: {
		family:$font-text;
	}
	> div:first-of-type {
		background-color:$color-page;
		max-width:1080px;
		//width:100%; // responsive
		//margin:50px 25px; // responsive
		width:1080px; // no responsive
		flex-shrink:0; // no responsive
		margin:50px auto; // no responsive
		text-align:left; // no responsive
		padding:25px;
	}
}
.em_obsc {
	-moz-user-select:-moz-none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	.domain {
		unicode-bidi:bidi-override;
		direction:rtl;
		&:after {
			content:"\000040";
		}
		&:before {
			content:"\00002e";
		}
	}
}
header {
	text-align:center;
	#logo {
		margin:15px auto 45px auto;
		h1, h2{
			text-transform:uppercase;
			font:{
				weight:bold;
			}
			color:$color-logo;
		}
		h1 { // TUTELA
			//display:block;
			font-size:46px;
			letter-spacing:75.2px;
			text-indent:75.2px;
			margin:0;
		}
		h2 { // CURATELLES PRIVÉES
			//display:block;
			font-size:20px;
			letter-spacing:20px;
			text-indent:20px;
			white-space:nowrap;
			margin:5px 0 0 0;
		}
	}
	nav {
		box-sizing: border-box;
		background-color:$color-menu-background;
		width:calc(100% + 50px);
		margin-left:-25px;
		margin-bottom:25px;
		ul {
			display:flex;
			justify-content:space-between;
			flex-wrap:wrap;
			padding:0;
			margin:0;
			list-style:none;
			li {
				//margin:0 auto;
				flex-grow:1;
				display:block;
				margin:0;
				text-align:center;
				/*&:not(:last-child) {
					margin-right:auto;
				}*/
				a, h1 {
					font:{
						family:$font-titles;
						size:1.1em;
						weight:bold;
					}
					text-decoration:none;
					text-transform:uppercase;
					margin:0;
					line-height:60px;
					letter-spacing:0.2em;
					display:block;
				}
				a {
					color:$color-menu;
				}
				h1 {
					color:$color-menu-active;
				}
				&:hover{
					//background-color:$color-menu-background-active;
					a {
						color:$color-menu-active;
					}
				}
				&.active {
					//background-color:$color-menu-background-active;
				}
			}
		}
	}
	/*nav:nth-of-type(2){
		ul {
			justify-content:flex-start;
			li {
				padding-right:6vw;
			}
		}
	}*/
}
main {
	color:$color-base;
	line-height:1.8em;
	text-align:justify;
	display:flex;
	justify-content:space-between;
	flex-flow:row wrap;
	margin:0 -20px;
	overflow:hidden;
	padding:25px 25px 0 25px;
	section {
		margin:0 20px 25px 20px;
	}
	section:not(:first-child){
		//min-width:300px;
		flex-wrap:wrap;
		flex-grow:1;
		flex-basis:300px;
	}
	section:first-child{
		width:400px;
	}
	h1, h2, h3, h4 {
		font: {
			family:$font-titles;
			weight:bold;
		}
	}
	h1 {
		font-size:$font-size-h1;
		text-transform:uppercase;
	}
	h2 {
		font-size:$font-size-h2;
	}
	h3 {
		font-size:$font-size-h3;
	}
	h4 {
		font-size:$font-size-h4;
	}
	p {
		font-size:$font-size-text;
		margin-top:0;
	}
	a {
		color:$color-a;
		text-decoration:none;
		&:hover {

		}
	}
	img {
		width:400px;
	}
}
footer {

}
#index {
	section {
		width:100%;
		text-align:center;
		a img {
				margin:0 auto;
		}
	}
}
#contact {
	main {
		display:block;
		& > section {
			margin: 0;
			width: 100%;
		}
		& > section > section {
			text-transform:uppercase;
			letter-spacing:0.12em;
		}
		& > section > section:not(:last-of-type) {
			margin:0 273px;
			p {
				text-align:center;
			}
		}
		& > section > section:first-of-type {
			display:flex;
			justify-content:space-between;
			flex-wrap:nowrap;
			width:auto;
		}
		& > section > section:last-of-type {
			margin-top:50px;
		}
	}
	.smaller {
		font-size:0.7em;
	}
}
#berenice_alberti, #loyse_hamoir {
	section:first-child {
		width:280px;
		img {
			width:100%;
		}
	}
}